# Server Configuration
PORT=3003
NODE_ENV=development
LOG_LEVEL=info

# Database Configuration
DATABASE_URL=
# Arcjet
ARCJET_KEY=

# Server Configuration [Development]
PORT=3003
NODE_ENV=development
LOG_LEVEL=info

# Database Configuration
DATABASE_URL=postgres://neon:npg@localhost:5434/neondb?sslmode=require
DATABASE_NAME=neondb

NEON_API_KEY=
NEON_PROJECT_ID=
PARENT_BRANCH_ID=

DELETE_BRANCHE=true

JWT_SECRET=2a30d0e7770105d80ad4bc81e95b51d8076573dcfc5402fb1609782e5f75f074

# Arcjet
ARCJET_KEY=

# Server Configuration [Production]
PORT=3003
NODE_ENV=production
LOG_LEVEL=info

# Database Configuration
DATABASE_URL=

# Arcjet
ARCJET_KEY=
